# Configuración local de desarrollo
MONGODB_URI=mongodb://127.0.0.1:27017/klave
NEXTAUTH_SECRET=poné-una-clave-larga-y-aleatoria
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
ALLOW_DIRECT_REGISTER=true
PAYMENT_WEBHOOK_SECRET=klave-local-webhook-secret

# Opcionales
# AUTH_GOOGLE_ID=
# AUTH_GOOGLE_SECRET=
# RESEND_API_KEY=
# RESEND_FROM=Klave <no-reply@localhost>
